<div class="swiper-m">
  <div class="box-gallery swiper-wrapper">
    <div class="item-gallery swiper-slide">
      <img src="./img/gallery-1.png" class="img-gallery" alt="Design Lover" />
    </div>
    <div class="item-gallery swiper-slide">
      <img src="./img/gallery-2.png" class="img-gallery" alt="Design Lover" />
    </div>
    <div class="item-gallery swiper-slide">
      <img src="./img/gallery-3.png" class="img-gallery" alt="Design Lover" />
    </div>
    <div class="item-gallery swiper-slide">
      <img src="./img/gallery-4.png" class="img-gallery" alt="Design Lover" />
    </div>
    <div class="item-gallery swiper-slide">
      <img src="./img/gallery-5.png" class="img-gallery" alt="Design Lover" />
    </div>
    <div class="item-gallery swiper-slide">
      <img src="./img/gallery-6.png" class="img-gallery" alt="Design Lover" />
    </div>
    <div class="item-gallery swiper-slide">
      <img src="./img/gallery-7.png" class="img-gallery" alt="Design Lover" />
    </div>
    <div class="item-gallery swiper-slide">
      <img src="./img/gallery-8.png" class="img-gallery" alt="Design Lover" />
    </div>
    <div class="item-gallery swiper-slide">
      <img src="./img/gallery-9.png" class="img-gallery" alt="Design Lover" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
