<div class="swiper">
  <div class="box-gallery swiper-wrapper">
    <div class="swiper-slide slide-group">
      <div class="img-gallery-desktop">
        <img
          src="./img/gallery-1.png"
          class="img-gallery-desktop"
          alt="Design Lover"
        />
      </div>
      <div class="img-gallery-desktop">
        <img
          src="./img/gallery-2.png"
          class="img-gallery-desktop"
          alt="Design Lover"
        />
      </div>
      <div class="img-gallery-desktop">
        <img
          src="./img/gallery-3.png"
          class="img-gallery-desktop"
          alt="Design Lover"
        />
      </div>
    </div>
    <div class="swiper-slide slide-group">
      <div class="img-gallery-desktop">
        <img
          src="./img/gallery-4.png"
          class="img-gallery-desktop"
          alt="Design Lover"
        />
      </div>
      <div class="img-gallery-desktop">
        <img
          src="./img/gallery-5.png"
          class="img-gallery-desktop"
          alt="Design Lover"
        />
      </div>
      <div class="img-gallery-desktop">
        <img
          src="./img/gallery-6.png"
          class="img-gallery-desktop"
          alt="Design Lover"
        />
      </div>
    </div>
    <div class="swiper-slide slide-group">
      <div class="img-gallery-desktop">
        <img
          src="./img/gallery-7.png"
          class="img-gallery-desktop"
          alt="Design Lover"
        />
      </div>
      <div class="img-gallery-desktop">
        <img
          src="./img/gallery-8.png"
          class="img-gallery-desktop"
          alt="Design Lover"
        />
      </div>
      <div class="img-gallery-desktop">
        <img
          src="./img/gallery-9.png"
          class="img-gallery-desktop"
          alt="Design Lover"
        />
      </div>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
