<section>
  <div class="container" id="about_section">
    <div class="about_container">
      <img src="./img/about-page.png" alt="about" class="about_page_img" />
    </div>
    <div class="about_description">
      <h2 class="about_title">About the Game</h2>
      <p class="about_text">
        Dive into Merge Master - Home Design, where your puzzle-solving skills
        and creativity combine! Merge items to craft unique decor pieces and
        transform ordinary spaces into breathtaking interiors. Explore diverse
        design styles, from modern chic to cozy vintage, and create a home that
        reflects your imagination.
      </p>
    </div>
    <img
      src="./img/about-small-2.png"
      alt="pic_window"
      class="about_page_small_img_2"
    data-aos="fade-down"/>
    <img
      src="./img/about-small-3.png"
      alt="about"
      class="about_page_small_img_3"
     data-aos="fade-left"/>
    <img
      src="./img/about-small-1.png"
      alt="about"
      class="about_page_small_img_1"
     data-aos="fade-right"/>
  </div>
</section>
