<section class="advantages" id="advantages_section">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__name">
        <p class="advantages__title">Advantages</p>
      </li>
      <li class="advantages__item">
        <img src="./img/box.png" alt="box" class="advantages__image_box" />
        <div class="circle ac1"></div>
        <div class="advantages__content">
          <p class="advantages__text">
            <span class="advantages__text_bold">Story-Driven Challenges:</span>
            Complete tasks to help characters achieve their dream homes.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__content">
          <img
            src="./img/chair.png"
            alt="chair"
            class="advantages__image_chair"
          />
          <div class="circle ac2"></div>
          <p class="advantages__text">
            <span class="advantages__text_bold">Endless Design Options:</span>
            Unlock furniture, wallpapers, and decor to personalize every detail.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__content">
          <img src="./img/cat.png" alt="cat" class="advantages__image_cat" />
          <div class="circle ac3"></div>
          <p class="advantages__text">
            <span class="advantages__text_bold">Relaxing Gameplay:</span> No
            timers or stress—play at your own pace.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__content">
          <img
            src="./img/man_mind.png"
            alt="man"
            class="advantages__image_man"
          />
          <div class="circle ac4"></div>
          <p class="advantages__text">
            <span class="advantages__text_bold">Diverse Themes:</span> Explore a
            variety of home styles and designs.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__content">
          <img
            src="./img/sofa-lamp.png"
            alt="sofa with lamp"
            class="advantages__image_sofa"
          />
          <div class="circle ac5"></div>
          <p class="advantages__text">
            <span class="advantages__text_bold">Diverse Themes:</span> Explore a
            variety of home styles and designs.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
