<section class="advantages">
  <div class="container" id="advantages_section">
    <div class="advantages_container">
      <h2 class="advantages_title">Advantages</h2>
      <ul class="advantages_list">
        <li class="advantages_item">
          <div class="advantage-content">
            <div class="advantage-image">
              <img src="./img/box.png" alt="box" class="advantages_img" />
            </div>
            <div class="circle ac1">
              <img src="./img/circle.png" alt="circle" class="circle_img" />
            </div>
            <p class="advantages_text">
              Story-Driven Challenges: Complete tasks to help characters achieve
              their dream homes.
            </p>
          </div>
        </li>
        <li class="advantages_item">
          <div class="advantage-content">
            <div class="advantage-image">
              <img src="./img/chair.png" alt="chair" class="advantages_img" />
            </div>
            <div class="circle ac2">
              <img src="./img/circle.png" alt="circle" class="circle_img" />
            </div>
            <p class="advantages_text">
              Endless Design Options: Unlock furniture, wallpapers, and decor to
              personalize every detail.
            </p>
          </div>
        </li>
        <li class="advantages_item">
          <div class="advantage-content">
            <div class="advantage-image">
              <img src="./img/cat.png" alt="cat" class="advantages_img" />
            </div>
            <div class="circle ac3">
              <img src="./img/circle.png" alt="circle" class="circle_img" />
            </div>
            <p class="advantages_text">
              Relaxing Gameplay: No timers or stress—play at your own pace.
            </p>
          </div>
        </li>
        <li class="advantages_item">
          <div class="advantage-content">
            <div class="advantage-image">
              <img src="./img/man.png" alt="man" class="advantages_img" />
            </div>
            <div class="advantage-image_2">
              <img src="./img/room.png" alt="room" class="advantages_img" />
            </div>
            <div class="circle ac4">
              <img src="./img/circle.png" alt="circle" class="circle_img" />
            </div>
            <p class="advantages_text">
              Story-Driven Challenges: Complete tasks to help characters achieve
              their dream homes.
            </p>
          </div>
        </li>
        <li class="advantages_item">
          <div class="advantage-content">
            <div class="advantage-image">
              <img
                src="./img/sofa-lamp.png"
                alt="sofa with lamp"
                class="advantages_img"
              />
            </div>
            <div class="circle ac5">
              <img src="./img/circle.png" alt="circle" class="circle_img" />
            </div>
            <p class="advantages_text">
              Diverse Themes: Explore a variety of home styles and designs.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
