<footer class="footer container">
  <div class="footer-box">
    <ul class="footer-list">
      <li class="footer-item">
        <a
          href="./privacy-policy.html"
          class="footer-link"
          title="Privacy Policy read"
          >Privacy Policy
        </a>
      </li>
      <li class="footer-item">
        <a
          href="./terms-conditions.html"
          class="footer-link"
          title="Terms & Conditions read"
          >Terms & Conditions</a
        >
      </li>
    </ul>
    <p class="footer-all-recerved">
      ©2024 TopJameJourney.com, All Rights Reserved.
    </p>
  </div>
</footer>
