<header class="header">
  <div class="container header-container">
    <div class="header-logo" id="logo">
      <img src="./img/logo.png" alt="logo" class="logo" />
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about_section" class="nav-link">About the Game</a>
        </li>
        <li class="nav-item">
          <a href="#advantages_section" class="nav-link">Advantages</a>
        </li>
        <li class="nav-item">
          <a href="#gallery_section" class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="#reviews_section" class="nav-link">User Reviews</a>
        </li>
        <li class="nav-item">
          <a href="#how_to_play_section" class="nav-link">How to Play</a>
        </li>
      </ul>
      <button
        type="button"
        class="menu-toggle js-open-menu"
        id="open-menu"
        aria-expanded="false"
      >
        <img src="./img/open_menu.png" alt="menu" class="menu-button-img" />
      </button>
    </nav>
    <!-- Mobile menu -->
    <div class="mob-menu js-menu-container">
      <div class="mob-menu-header">
        <button
          type="button"
          class="menu-toggle js-close-menu"
          aria-label="Close menu"
        >
          <img
            src="./img/close_menu.png"
            alt="close menu"
            class="close-menu-button-img"
          />
        </button>
      </div>
      <div class="mob-container">
        <div class="mob-menu-logo">
          <a href="./index.html" class="logo">
            <img src="./img/logo.png" alt="logo" class="logo" />
          </a>
        </div>

        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a href="#about_section" class="mobile-menu__link link"
              >About the Game</a
            >
          </li>
          <li class="mobile-menu__item">
            <a href="#advantages_section" class="mobile-menu__link"
              >Advantages</a
            >
          </li>
          <li class="mobile-menu__item">
            <a href="#gallery_section" class="mobile-menu__link">Gallery</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#reviews_section" class="mobile-menu__link"
              >User Reviews</a
            >
          </li>
          <li class="mobile-menu__item">
            <a href="#how_to_play_section" class="mobile-menu__link"
              >How to Play</a
            >
          </li>
        </ul>
        <p class="mobile-menu__copyright">
          ©2024 TopJameJourney.com, All Rights Reserved.
        </p>
      </div>
    </div>
    <script type="module" src="./js/header.js"></script>
  </div>
</header>
