<section class="home">
  <div class="container home-container" id="home_section">
    <h2 class="visually-hidden">Home</h2>
    <load src="partials/components/title-block.html" />

    <script>
      document
        .getElementById('googlePlay')
        .addEventListener('click', function () {
          window.open(
            'https://play.google.com/store/apps/details?id=com.zymobile.merge.master.home.design.gp',
            '_blank'
          );
        });
    </script>
  </div>
</section>
