<section class="home">
  <div class="container home-container" id="home_section">
    <h2 class="visually-hidden">Home</h2>
    <load src="partials/components/title-block.html" />
    <!-- <div class="home_content">
      <h1 class="home_title">Merge Master</h1>
      <h3 class="home_subtitle">Home Design</h3>
      <h4 class="home_sub_subtitle">
        Unleash your creativity and build your dream home!
      </h4>
      <button class="home_button" id="googlePlay">
        <img
          src="./img/googleplay.png"
          alt="googlePlay"
          class="googleplay_img"
        />
      </button>
    </div> -->

    <script>
      document
        .getElementById('googlePlay')
        .addEventListener('click', function () {
          window.open(
            'https://play.google.com/store/apps/details?id=com.zymobile.merge.master.home.design.gp',
            '_blank'
          );
        });
    </script>
  </div>
</section>
