<div class="part-how-to-play container" id="how_to_play_section">
  <h2 class="main-head-how-to-play">How to Play</h2>
  <div class="box-how-to-play">
    <ul class="list-how-to-play">
      <li class="item-how-to-play">
        <img
          src="./img/how-to-play-1.png"
          class="desc-img-how-to-play"
          alt=""
        />
        <div class="desc-box-how-to-play">
          <p class="desc-head-how-to-play">Merge Items:</p>
          <p class="desc-text-how-to-play">
            Combine identical pieces to unlock new and unique decor items.
          </p>
        </div>
      </li>
      <li class="item-rev-how-to-play">
        <img
          src="./img/how-to-play-2.png"
          class="desc-img-how-to-play"
          alt=""
        />
        <div class="desc-box-how-to-play">
          <p class="desc-head-how-to-play">Design Rooms:</p>
          <p class="desc-text-how-to-play">
            Use your merged items to decorate rooms according to the task
            requirements.
          </p>
        </div>
      </li>
      <li class="item-how-to-play">
        <img
          src="./img/how-to-play-3.png"
          class="desc-img-how-to-play"
          alt=""
        />
        <div class="desc-box-how-to-play">
          <p class="desc-head-how-to-play">Complete Challenges:</p>
          <p class="desc-text-how-to-play">
            Achieve goals to unlock rewards and progress through the story.
          </p>
        </div>
      </li>
      <li class="item-rev-how-to-play">
        <img
          src="./img/how-to-play-4.png"
          class="desc-img-how-to-play"
          alt=""
        />
        <div class="desc-box-how-to-play">
          <p class="desc-head-how-to-play">Expand Your Portfolio:</p>
          <p class="desc-text-how-to-play">
            Tackle new rooms with exciting themes and unique challenges.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="box-girl-cat">
    <div class="box-title">
      <load src="./components/title-block.html" />
    </div>
    <div class="blok-title-girl"></div>
    <div class="blok-title-cat"></div>
  </div>
</div>
