<div class="part-user-reviews container">
  <h2 class="main-head-user-reviews">User Reviews</h2>
  <div class="box-user-reviews">
    <img
      src="./img/blok-reviews-cat.png"
      class="cat-guard-user-reviews"
      alt="Cat guard"
    />
    <ul class="list-user-reviews">
      <li class="item-user-reviews">
        <img
          src="./img/user-reviews-1.png"
          class="desc-img-user-reviews"
          alt="Design Lover"
        />
        <div class="desc-box-user-reviews">
          <p class="desc-head-user-reviews">DesignLover</p>
          <p class="desc-text-user-reviews">
            "Finally, a game where I can combine my love for puzzles and
            interior design. Highly addictive!"
          </p>
          <p class="desc-reed-more-user-reviews">Read more...</p>
        </div>
      </li>
      <li class="item-user-reviews">
        <img
          src="./img/user-reviews-2.png"
          class="desc-img-user-reviews"
          alt="Creative Queen"
        />
        <div class="desc-box-user-reviews">
          <p class="desc-head-user-reviews">CreativeQueen</p>
          <p class="desc-text-user-reviews">
            "I love unlocking new furniture styles and seeing my designs come to
            life!"
          </p>
          <p class="desc-reed-more-user-reviews">Read more...</p>
        </div>
      </li>
      <li class="item-user-reviews">
        <img
          src="./img/user-reviews-3.png"
          class="desc-img-user-reviews"
          alt="Merge Fanatic"
        />
        <div class="desc-box-user-reviews">
          <p class="desc-head-user-reviews">MergeFanatic</p>
          <p class="desc-text-user-reviews">
            "The merging mechanics are smooth, and the design options are
            endless. Perfect for relaxing!"
          </p>
          <p class="desc-reed-more-user-reviews">Read more...</p>
        </div>
      </li>
      <li class="item-user-reviews">
        <img
          src="./img/user-reviews-4.png"
          class="desc-img-user-reviews"
          alt="HappyPlayer"
        />
        <div class="desc-box-user-reviews">
          <p class="desc-head-user-reviews">HappyPlayer</p>
          <p class="desc-text-user-reviews">
            "A great balance of strategy and creativity. Can’t wait for new
            updates!"
          </p>
          <p class="desc-reed-more-user-reviews">Read more...</p>
        </div>
      </li>
    </ul>
  </div>
</div>
