.advantages {
  width: $mobile;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px 17px 72px 16px;
  background-color: $_main_bg_color;
  width: $mobile;
  @include media(desktop) {
    width: $desktop;
    padding: 60px 135px;
  }

  &__list {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    @include media(desktop) {
      column-gap: 75px;
      row-gap: 60px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 271px;
    padding-top: 71px;
    @include media(desktop) {
      width: 260px;

      &:hover {
        transform: scale(1.15);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 91px 16px 33px 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    // padding: 20px 16px;
    @include media(desktop) {
      padding: 94px 30px 30px 30px;
    }
  }
  &__name {
    padding-left: 0;
    padding-top: 0;
    text-align: left;
    font-family: var(--second-family);
    width: 287px;
    @include font(42, 36);
    @include media(desktop) {
      width: 260px;
      @include font(60, 56);
      padding-top: 107px;
    }
  }
  &__image_box {
    position: absolute;
    top: 18px;
    left: 28px;
    width: 146px;
    height: 146px;
    z-index: 15;
  }
  &__image_chair {
    position: absolute;
    top: 16px;
    left: 28px;
    width: 150px;
    height: 150px;
    z-index: 15;
  }
  &__image_cat {
    position: absolute;
    top: 21px;
    left: 38px;
    width: 136px;
    height: 158px;
    z-index: 15;
  }
  &__image_man {
    position: absolute;
    top: -99px;
    left: 51px;
    width: 186px;
    height: 240px;
    z-index: 15;
  }
  &__image_sofa {
    position: absolute;
    top: -41px;
    left: -18px;
    width: 190px;
    height: 190px;
    z-index: 15;
  }
  &__text {
    width: 100%;
    font-size: 16px;
    color: #333333;
    line-height: 1.15;
    text-align: left;
  }
  &__text_bold {
    width: 100%;
    font-size: 16px;
    color: #333333;
    line-height: 1.15;
    text-align: left;
    font-weight: 600;
  }
  .circle {
    position: absolute;
    background-color: $_main_bg_color;
    top: 0;
    left: 72px;
    width: 143px;
    height: 143px;
    border: 5px solid transparent;
    border-radius: 50%;
    z-index: 10;
    @include media(desktop) {
      width: 143px;
      height: 143px;
      left: 58px;
    }
    &.ac1 {
      border-color: #71abff;
    }

    &.ac2 {
      border-color: #f59703;
    }

    &.ac3 {
      border-color: #da6017;
    }

    &.ac4 {
      border-color: #34aaae;
    }

    &.ac5 {
      border-color: #d88282;
    }
  }
}
