.btn-google-play {
    width: 100px;
    height: 26px;
    border: 1px solid #A6A6A6;
    border-radius: 6px;
    background-color: #8F8E8E;
    padding: 4.5px 12px;
    text-align: left;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    gap: 5px;

    @include media(desktop) {
        width: 200px;
        height: 52px;
        padding: 9px 23px;
        gap: 13px;
    }
}

.text-button {
    display: flex;
    flex-direction: column;
}

.text-small {
    font-weight: 600;
    font-size: 4px;
    text-transform: uppercase;
    line-height: 4px;
    margin-bottom: 1.58px;
    color: #fff;

    @include media(desktop) {
        font-size: 8px;
        line-height: 8px;
        margin-bottom: 4px;
    }
}

.btn-google-play:hover {
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
}