.header-container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  // height: 44px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  z-index: 1000;
  background-color: $_header_bg_color;

  @include media(desktop) {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    padding-bottom: 8px;
  }
}

.nav-list {
  display: none;
  @include media(desktop) {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 548px;
  }
}
.nav-link {
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: auto;
  font-size: 14px;
}
.nav-link:hover,
.nav-link:focus {
  font-weight: 700;
}
.header-logo {
  width: 71px;
  height: 36px;
  cursor: pointer;

  // @include media(desktop) {
  // height: 40px;
  // }
}
.logo {
  display: block;
}
.mob-menu-logo {
  display: block;
  width: 71px;
  height: 36px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 44px;
}
.js-open-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  // padding: 7px 5px;
  // margin-top: 8px;

  @include media(desktop) {
    display: none;
  }
}
.menu-button-img {
  width: 21px;
  height: 15px;
}
.mob-container {
  width: 320px;
  min-height: 568px;
  height: 100vh;
  background-color: $_main_bg_color;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.mobile-menu__link {
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 40px;
  font-size: 14px;
}
.mobile-menu__link:hover,
.mobile-menu__link:focus {
  font-weight: 700;
}
.mobile-menu__copyright {
  // margin-bottom: 100px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 288px;
}
.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  z-index: 1000;
  transform: translateX(100%);
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.mob-menu.active {
  // transform: translateX(0);
  right: 320px;
  visibility: visible;
  opacity: 1;
}

.js-close-menu {
  position: absolute;
  top: 8px;
  right: 16px;
  width: 36px;
  height: 36px;
  // margin: 7px;

  background: none;
  border: none;
  cursor: pointer;
}
.close-menu-button-img {
  width: 15px;
  height: 15px;
}
.cat_mob_menu {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  &:hover {
    transform: scale(1.1);
  }
}
.botton_menu_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  // justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
