.home-container {
  width: $mobile;
  display: flex;
  height: 568px;
  background-image: url(../img/home-page-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-left: 16px;
  padding-right: 16px;
  @include media(desktop) {
    width: $desktop;
    background-image: url(../img/home-page-desk.jpg);
    height: 720px;
    padding-top: 106px;
    padding-left: 518px;
    padding-right: 155px;
  }
}
