.part-user-reviews {
  width: 100%;
}

.main-head-user-reviews {
  font-family: var(--second-family);
  font-weight: 400;
  @include font(42, 36.12);
  color: var(--black);
  text-align: left;
  margin-top: 60px;
  margin-left: 16px;

  @include media(desktop) {
    @include font(60, 56);
    margin-top: 100px;
    margin-left: 135px;
  }
}

.box-user-reviews {
  margin: 0 auto;
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  background-image: url(./../img/sprite/bgr-reviews.jpg);
  background-repeat: repeat;

  border-radius: 30px;
  padding: 56px 32px 32px 32px;
  width: 288px;
  height: 1480px;
  position: relative;
  margin-top: 25px;

  @include media(desktop) {
    padding: 72px 32px 32px 32px;
    width: 1120px;
    height: 424px;
    margin-top: 35px;
  }
}

.list-user-reviews {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include media(desktop) {
    flex-direction: row;
    gap: 32px;
  }
}

.item-user-reviews {
  border-radius: 20px;
  width: 224px;
  height: 300px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;

  position: relative;
  padding: 71px 12px 51px 12px;

  @include media(desktop) {
    width: 240px;
    height: 320px;
    padding: 71px 20px 42px 20px;
  }

  transition: all 0.3s ease-in-out;
}

.desc-box-user-reviews {
  height: 100%;
  position: relative;
}

.desc-img-user-reviews {
  width: 78px;
  height: 78px;
  position: absolute;
  top: -39px;
  left: 73px;

  @include media(desktop) {
    left: 81px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.desc-head-user-reviews {
  font-family: var(--font-family);
  font-weight: 600;
  @include font(18, 23.94);
  text-align: center;
}

.desc-text-user-reviews {
  font-family: var(--font-family);
  font-weight: 400;
  @include font(16, 18);

  margin-top: 32px;
}

.desc-reed-more-user-reviews {
  font-family: var(--font-family);
  font-weight: 400;
  @include font(12, 18);
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;

  position: absolute;
  bottom: 0;
  right: 0;
  // cursor: pointer;
}

.cat-guard-user-reviews {
  display: none;

  @include media(desktop) {
    display: block;
    width: 244px;
    height: 173px;
    transform: rotate(10deg);
    z-index: -1;
    position: absolute;
    top: -148px;
    right: 157px;
  }
}